window#waybar {
  background: #111111;
  color: #ffffff;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
  border-radius:6px;
  padding: 0 3px;
  border: 2px solid #ffffff;
  font-weight: bold;
}

#battery {
  color: #ffffff;
}

#tray > * {
  margin-left: 8px;
}

#group-power {
  margin-right: 6px;
}

#custom-cava {
  margin-left: 20px;
}
